.NavButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
}

.NavButton:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(21, 0, 214);
  border-color: black;
  box-shadow: 0 8px 16px 0 rgba(21, 0, 214, 0.589);
}

.Correct {
  border-style: solid;
  color: white;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgb(4, 177, 33);
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 158, 26, 0.2);
}

.Selected {
  color: white;
  background-color: rgb(21, 0, 214);
  border-color: black;
  box-shadow: 0 8px 16px 0 rgba(21, 0, 214, 0.589);
}
